body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 81%);
}
#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 35%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;   
    color: white;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 50%);
    color: white;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: hsl(0, 0%, 40%);
}
button:active {
    background-color: hsl(0, 0%, 90%);
}
.operator-button {
    background-color: hsl(39, 100%, 42%);
}
.operator-button:hover {
    background-color: rgb(163, 138, 15);
}
.operator-button:active {
    background-color: rgb(219, 185, 15);
}